<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate limited</title>

    <meta http-equiv="refresh" content=<%=retryAfter %>>
</head>

<body>
    <h1>Ratelimited!</h1>
    <p>You are performing requests too quickly!</p>
    <p>please try again after
        <b>
            <%= retryAfter %>
        </b>
        seconds.
    </p>
    <p> The limit will be reset on <%= rateLimitReset %>
    </p>
    <a href="https://nihalnavath.com/contact">contact</a>
</body>

</html>